/*
Layers CSS 1.1.2
Released by Jerry Jäppinen under the MIT license
http://eiskis.net/layers
2015-01-03 22:32 UTC
*/

@media handheld, only screen and (min-width: 40em) {
  .limit-small {
    max-width: 40em;
  }
  .column {
    &.last {
      &.small-fifth, &.small-twofifths, &.small-threefifths, &.small-fourfifths, &.small-one, &.small-two, &.small-sixth, &.small-three, &.small-fourth, &.small-four, &.small-twosixths, &.small-third, &.small-five, &.small-six, &.small-half, &.small-threesixths, &.small-twofourths, &.small-seven, &.small-eight, &.small-foursixths, &.small-twothirds, &.small-nine, &.small-threefourths, &.small-ten, &.small-fivesixths, &.small-eleven, &.small-twelve, &.small-full {
        margin-right: 3.8%;
      }
    }
    &.right.last {
      &.small-fifth, &.small-twofifths, &.small-threefifths, &.small-fourfifths, &.small-one, &.small-two, &.small-sixth, &.small-three, &.small-fourth, &.small-four, &.small-twosixths, &.small-third, &.small-five, &.small-six, &.small-half, &.small-threesixths, &.small-twofourths, &.small-seven, &.small-eight, &.small-foursixths, &.small-twothirds, &.small-nine, &.small-threefourths, &.small-ten, &.small-fivesixths, &.small-eleven, &.small-twelve, &.small-full {
        margin-left: 3.8%;
      }
    }
    &.small-fifth, &.small-twofifths, &.small-threefifths, &.small-fourfifths, &.small-one, &.small-two, &.small-sixth, &.small-three, &.small-fourth, &.small-four, &.small-twosixths, &.small-third, &.small-five, &.small-six, &.small-half, &.small-threesixths, &.small-twofourths, &.small-seven, &.small-eight, &.small-foursixths, &.small-twothirds, &.small-nine, &.small-threefourths, &.small-ten, &.small-fivesixths, &.small-eleven, &.small-twelve, &.small-full {
      clear: none;
      float: left;
      min-height: 1px;
      margin-left: 0;
      margin-right: 3.8%;
    }
    &.right {
      &.small-fifth, &.small-twofifths, &.small-threefifths, &.small-fourfifths, &.small-one, &.small-two, &.small-sixth, &.small-three, &.small-fourth, &.small-four, &.small-twosixths, &.small-third, &.small-five, &.small-six, &.small-half, &.small-threesixths, &.small-twofourths, &.small-seven, &.small-eight, &.small-foursixths, &.small-twothirds, &.small-nine, &.small-threefourths, &.small-ten, &.small-fivesixths, &.small-eleven, &.small-twelve, &.small-full {
        float: right;
        margin-right: 0;
        margin-left: 3.8%;
      }
    }
    &.reset {
      &.small-fifth, &.small-twofifths, &.small-threefifths, &.small-fourfifths, &.small-one, &.small-two, &.small-sixth, &.small-three, &.small-fourth, &.small-four, &.small-twosixths, &.small-third, &.small-five, &.small-six, &.small-half, &.small-threesixths, &.small-twofourths, &.small-seven, &.small-eight, &.small-foursixths, &.small-twothirds, &.small-nine, &.small-threefourths, &.small-ten, &.small-fivesixths, &.small-eleven, &.small-twelve, &.small-full {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &.small-full, &.small-twelve {
      width: 100%;
    }
    &.small-fifth {
      width: 16.95%;
    }
    &.small-twofifths {
      width: 37.7%;
    }
    &.small-threefifths {
      width: 58.45%;
    }
    &.small-fourfifths {
      width: 79.2%;
    }
    &.small-push-fifth {
      margin-left: 20.45%;
    }
    &.small-right.push-fifth {
      margin-right: 20.45%;
    }
    &.small-push-twofifths {
      margin-left: 41.5%;
    }
    &.small-right.push-twofifths {
      margin-right: 41.5%;
    }
    &.small-push-threefifths {
      margin-left: 62.25%;
    }
    &.small-right.push-threefifths {
      margin-right: 62.25%;
    }
    &.small-push-fourfifths {
      margin-left: 83%;
    }
    &.small-right.push-fourfifths {
      margin-right: 83%;
    }
    &.small-one {
      width: 4.85%;
    }
    &.small-two, &.small-sixth {
      width: 13.45%;
    }
    &.small-three, &.small-fourth {
      width: 22.05%;
    }
    &.small-four, &.small-twosixths, &.small-third {
      width: 30.75%;
    }
    &.small-five {
      width: 39.45%;
    }
    &.small-six, &.small-half, &.small-threesixths, &.small-twofourths {
      width: 48%;
    }
    &.small-seven {
      width: 56.75%;
    }
    &.small-eight, &.small-foursixths, &.small-twothirds {
      width: 65.4%;
    }
    &.small-nine, &.small-threefourths {
      width: 74.05%;
    }
    &.small-ten, &.small-fivesixths {
      width: 82.7%;
    }
    &.small-eleven {
      width: 91.35%;
    }
    &.small-push-one {
      margin-left: 8.65%;
    }
    &.right.small-push-one {
      margin-right: 8.65%;
    }
    &.small-push-two, &.small-push-sixth {
      margin-left: 17.25%;
    }
    &.right {
      &.small-push-two, &.small-push-sixth {
        margin-right: 17.25%;
      }
    }
    &.small-push-three, &.small-push-fourth {
      margin-left: 25.85%;
    }
    &.right {
      &.small-push-three, &.small-push-fourth {
        margin-right: 25.85%;
      }
    }
    &.small-push-four, &.small-push-twosixths, &.small-push-third {
      margin-left: 34.55%;
    }
    &.right {
      &.small-push-four, &.small-push-twosixths, &.small-push-third {
        margin-right: 34.55%;
      }
    }
    &.small-push-five {
      margin-left: 43.25%;
    }
    &.right.small-push-five {
      margin-right: 43.25%;
    }
    &.small-push-six, &.small-push-half, &.small-push-threesixths, &.small-push-twofourths {
      margin-left: 51.8%;
    }
    &.right {
      &.small-push-six, &.small-push-half, &.small-push-threesixths, &.small-push-twofourths {
        margin-right: 51.8%;
      }
    }
    &.small-push-seven {
      margin-left: 60.55%;
    }
    &.right.small-push-seven {
      margin-right: 60.55%;
    }
    &.small-push-eight, &.small-push-foursixths, &.small-push-twothirds {
      margin-left: 69.2%;
    }
    &.right {
      &.small-push-eight, &.small-push-foursixths, &.small-push-twothirds {
        margin-right: 69.2%;
      }
    }
    &.small-push-nine, &.small-push-threefourths {
      margin-left: 77.85%;
    }
    &.right {
      &.small-push-nine, &.small-push-threefourths {
        margin-right: 77.85%;
      }
    }
    &.small-push-ten, &.small-push-fivesixths {
      margin-left: 86.5%;
    }
    &.right {
      &.small-push-ten, &.small-push-fivesixths {
        margin-right: 86.5%;
      }
    }
    &.small-push-eleven {
      margin-left: 95.15%;
    }
    &.right.small-push-eleven {
      margin-right: 95.15%;
    }
    &.small-one.reset {
      width: 8.3%;
    }
    &.small-two.reset, &.small-sixth.reset {
      width: 16.65%;
    }
    &.small-three.reset, &.small-fourth.reset {
      width: 25%;
    }
    &.small-four.reset, &.small-twosixths.reset, &.small-third.reset {
      width: 33.3%;
    }
    &.small-five.reset {
      width: 41.65%;
    }
    &.small-six.reset, &.small-half.reset, &.small-threesixths.reset, &.small-twofourths.reset {
      width: 50%;
    }
    &.small-seven.reset {
      width: 58.3%;
    }
    &.small-eight.reset, &.small-foursixths.reset, &.small-twothirds.reset {
      width: 66.6%;
    }
    &.small-nine.reset, &.small-threefourths.reset {
      width: 75%;
    }
    &.small-ten.reset, &.small-fivesixths.reset {
      width: 83.35%;
    }
    &.small-eleven.reset {
      width: 91.7%;
    }
    &.small-full.reset, &.small-twelve.reset {
      width: 100%;
    }
    &.reset {
      &.small-push-one {
        margin-left: 8.3%;
      }
      &.right.small-push-one {
        margin-right: 8.3%;
      }
      &.small-push-two, &.small-push-sixth {
        margin-left: 16.65%;
      }
      &.right {
        &.small-push-two, &.small-push-sixth {
          margin-right: 16.65%;
        }
      }
      &.small-push-three, &.small-push-fourth {
        margin-left: 25%;
      }
      &.right {
        &.small-push-three, &.small-push-fourth {
          margin-right: 25%;
        }
      }
      &.small-push-four, &.small-push-twosixths, &.small-push-third {
        margin-left: 33.3%;
      }
      &.right {
        &.small-push-four, &.small-push-twosixths, &.small-push-third {
          margin-right: 33.3%;
        }
      }
      &.small-push-five {
        margin-left: 41.65%;
      }
      &.right.small-push-five {
        margin-right: 41.65%;
      }
      &.small-push-six, &.small-push-half, &.small-push-threesixths, &.small-push-twofourths {
        margin-left: 50%;
      }
      &.right.small-push-six {
        margin-right: 50%;
      }
    }
    &.right.reset {
      &.small-push-half, &.small-push-threesixths, &.small-push-twofourths {
        margin-right: 50%;
      }
    }
    &.reset {
      &.small-push-seven {
        margin-left: 58.3%;
      }
      &.right.small-push-seven {
        margin-right: 58.3%;
      }
      &.small-push-eight, &.small-push-foursixths, &.small-push-twothirds {
        margin-left: 66.6%;
      }
      &.right {
        &.small-push-eight, &.small-push-foursixths, &.small-push-twothirds {
          margin-right: 66.6%;
        }
      }
      &.small-push-nine, &.small-push-threefourths {
        margin-left: 75%;
      }
      &.right {
        &.small-push-nine, &.small-push-threefourths {
          margin-right: 75%;
        }
      }
      &.small-push-ten, &.small-push-fivesixths {
        margin-left: 83.35%;
      }
      &.right {
        &.small-push-ten, &.small-push-fivesixths {
          margin-right: 83.35%;
        }
      }
      &.small-push-eleven {
        margin-left: 91.7%;
      }
      &.right.small-push-eleven {
        margin-right: 91.7%;
      }
    }
    &.small-last, &.last.small-last {
      margin-right: 0;
    }
    &.right {
      &.small-last, &.last.small-last {
        margin-left: 0;
      }
    }
    &.small-break {
      width: auto !important;
      float: none !important;
      clear: both !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }
}

@media handheld, only screen and (min-width: 70em) {
  .limit-medium {
    max-width: 70em;
  }
  .column {
    &.last {
      &.medium-fifth, &.medium-twofifths, &.medium-threefifths, &.medium-fourfifths, &.medium-one, &.medium-two, &.medium-sixth, &.medium-three, &.medium-fourth, &.medium-four, &.medium-twosixths, &.medium-third, &.medium-five, &.medium-six, &.medium-half, &.medium-threesixths, &.medium-twofourths, &.medium-seven, &.medium-eight, &.medium-foursixths, &.medium-twothirds, &.medium-nine, &.medium-threefourths, &.medium-ten, &.medium-fivesixths, &.medium-eleven, &.medium-twelve, &.medium-full {
        margin-right: 3.8%;
      }
    }
    &.small-last {
      &.medium-fifth, &.medium-twofifths, &.medium-threefifths, &.medium-fourfifths, &.medium-one, &.medium-two, &.medium-sixth, &.medium-three, &.medium-fourth, &.medium-four, &.medium-twosixths, &.medium-third, &.medium-five, &.medium-six, &.medium-half, &.medium-threesixths, &.medium-twofourths, &.medium-seven, &.medium-eight, &.medium-foursixths, &.medium-twothirds, &.medium-nine, &.medium-threefourths, &.medium-ten, &.medium-fivesixths, &.medium-eleven, &.medium-twelve, &.medium-full {
        margin-right: 3.8%;
      }
    }
    &.right {
      &.last {
        &.medium-fifth, &.medium-twofifths, &.medium-threefifths, &.medium-fourfifths, &.medium-one, &.medium-two, &.medium-sixth, &.medium-three, &.medium-fourth, &.medium-four, &.medium-twosixths, &.medium-third, &.medium-five, &.medium-six, &.medium-half, &.medium-threesixths, &.medium-twofourths, &.medium-seven, &.medium-eight, &.medium-foursixths, &.medium-twothirds, &.medium-nine, &.medium-threefourths, &.medium-ten, &.medium-fivesixths, &.medium-eleven, &.medium-twelve, &.medium-full {
          margin-left: 3.8%;
        }
      }
      &.small-last {
        &.medium-fifth, &.medium-twofifths, &.medium-threefifths, &.medium-fourfifths, &.medium-one, &.medium-two, &.medium-sixth, &.medium-three, &.medium-fourth, &.medium-four, &.medium-twosixths, &.medium-third, &.medium-five, &.medium-six, &.medium-half, &.medium-threesixths, &.medium-twofourths, &.medium-seven, &.medium-eight, &.medium-foursixths, &.medium-twothirds, &.medium-nine, &.medium-threefourths, &.medium-ten, &.medium-fivesixths, &.medium-eleven, &.medium-twelve, &.medium-full {
          margin-left: 3.8%;
        }
      }
    }
    &.medium-fifth, &.medium-twofifths, &.medium-threefifths, &.medium-fourfifths, &.medium-one, &.medium-two, &.medium-sixth, &.medium-three, &.medium-fourth, &.medium-four, &.medium-twosixths, &.medium-third, &.medium-five, &.medium-six, &.medium-half, &.medium-threesixths, &.medium-twofourths, &.medium-seven, &.medium-eight, &.medium-foursixths, &.medium-twothirds, &.medium-nine, &.medium-threefourths, &.medium-ten, &.medium-fivesixths, &.medium-eleven, &.medium-twelve, &.medium-full {
      clear: none;
      float: left;
      min-height: 1px;
      margin-left: 0;
      margin-right: 3.8%;
    }
    &.right {
      &.medium-fifth, &.medium-twofifths, &.medium-threefifths, &.medium-fourfifths, &.medium-one, &.medium-two, &.medium-sixth, &.medium-three, &.medium-fourth, &.medium-four, &.medium-twosixths, &.medium-third, &.medium-five, &.medium-six, &.medium-half, &.medium-threesixths, &.medium-twofourths, &.medium-seven, &.medium-eight, &.medium-foursixths, &.medium-twothirds, &.medium-nine, &.medium-threefourths, &.medium-ten, &.medium-fivesixths, &.medium-eleven, &.medium-twelve, &.medium-full {
        float: right;
        margin-right: 0;
        margin-left: 3.8%;
      }
    }
    &.reset {
      &.medium-fifth, &.medium-twofifths, &.medium-threefifths, &.medium-fourfifths, &.medium-one, &.medium-two, &.medium-sixth, &.medium-three, &.medium-fourth, &.medium-four, &.medium-twosixths, &.medium-third, &.medium-five, &.medium-six, &.medium-half, &.medium-threesixths, &.medium-twofourths, &.medium-seven, &.medium-eight, &.medium-foursixths, &.medium-twothirds, &.medium-nine, &.medium-threefourths, &.medium-ten, &.medium-fivesixths, &.medium-eleven, &.medium-twelve, &.medium-full {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &.medium-full, &.medium-twelve {
      width: 100%;
    }
    &.medium-fifth {
      width: 16.95%;
    }
    &.medium-twofifths {
      width: 37.7%;
    }
    &.medium-threefifths {
      width: 58.45%;
    }
    &.medium-fourfifths {
      width: 79.2%;
    }
    &.medium-push-fifth {
      margin-left: 20.45%;
    }
    &.medium-right.push-fifth {
      margin-right: 20.45%;
    }
    &.medium-push-twofifths {
      margin-left: 41.5%;
    }
    &.medium-right.push-twofifths {
      margin-right: 41.5%;
    }
    &.medium-push-threefifths {
      margin-left: 62.25%;
    }
    &.medium-right.push-threefifths {
      margin-right: 62.25%;
    }
    &.medium-push-fourfifths {
      margin-left: 83%;
    }
    &.medium-right.push-fourfifths {
      margin-right: 83%;
    }
    &.medium-one {
      width: 4.85%;
    }
    &.medium-two, &.medium-sixth {
      width: 13.45%;
    }
    &.medium-three, &.medium-fourth {
      width: 22.05%;
    }
    &.medium-four, &.medium-twosixths, &.medium-third {
      width: 30.75%;
    }
    &.medium-five {
      width: 39.45%;
    }
    &.medium-six, &.medium-half, &.medium-threesixths, &.medium-twofourths {
      width: 48%;
    }
    &.medium-seven {
      width: 56.75%;
    }
    &.medium-eight, &.medium-foursixths, &.medium-twothirds {
      width: 65.4%;
    }
    &.medium-nine, &.medium-threefourths {
      width: 74.05%;
    }
    &.medium-ten, &.medium-fivesixths {
      width: 82.7%;
    }
    &.medium-eleven {
      width: 91.35%;
    }
    &.medium-full.reset, &.medium-twelve.reset {
      width: 100%;
    }
    &.medium-push-one {
      margin-left: 8.65%;
    }
    &.right.medium-push-one {
      margin-right: 8.65%;
    }
    &.medium-push-two, &.medium-push-sixth {
      margin-left: 17.25%;
    }
    &.right {
      &.medium-push-two, &.medium-push-sixth {
        margin-right: 17.25%;
      }
    }
    &.medium-push-three, &.medium-push-fourth {
      margin-left: 25.85%;
    }
    &.right {
      &.medium-push-three, &.medium-push-fourth {
        margin-right: 25.85%;
      }
    }
    &.medium-push-four, &.medium-push-twosixths, &.medium-push-third {
      margin-left: 34.55%;
    }
    &.right {
      &.medium-push-four, &.medium-push-twosixths, &.medium-push-third {
        margin-right: 34.55%;
      }
    }
    &.medium-push-five {
      margin-left: 43.25%;
    }
    &.right.medium-push-five {
      margin-right: 43.25%;
    }
    &.medium-push-six, &.medium-push-half, &.medium-push-threesixths, &.medium-push-twofourths {
      margin-left: 51.8%;
    }
    &.right {
      &.medium-push-six, &.medium-push-half, &.medium-push-threesixths, &.medium-push-twofourths {
        margin-right: 51.8%;
      }
    }
    &.medium-push-seven {
      margin-left: 60.55%;
    }
    &.right.medium-push-seven {
      margin-right: 60.55%;
    }
    &.medium-push-eight, &.medium-push-foursixths, &.medium-push-twothirds {
      margin-left: 69.2%;
    }
    &.right {
      &.medium-push-eight, &.medium-push-foursixths, &.medium-push-twothirds {
        margin-right: 69.2%;
      }
    }
    &.medium-push-nine, &.medium-push-threefourths {
      margin-left: 77.85%;
    }
    &.right {
      &.medium-push-nine, &.medium-push-threefourths {
        margin-right: 77.85%;
      }
    }
    &.medium-push-ten, &.medium-push-fivesixths {
      margin-left: 86.5%;
    }
    &.right {
      &.medium-push-ten, &.medium-push-fivesixths {
        margin-right: 86.5%;
      }
    }
    &.medium-push-eleven {
      margin-left: 95.15%;
    }
    &.right.medium-push-eleven {
      margin-right: 95.15%;
    }
    &.medium-one.reset {
      width: 8.3%;
    }
    &.medium-two.reset, &.medium-sixth.reset {
      width: 16.65%;
    }
    &.medium-three.reset, &.medium-fourth.reset {
      width: 25%;
    }
    &.medium-four.reset, &.medium-twosixths.reset, &.medium-third.reset {
      width: 33.3%;
    }
    &.medium-five.reset {
      width: 41.65%;
    }
    &.medium-six.reset, &.medium-half.reset, &.medium-threesixths.reset, &.medium-twofourths.reset {
      width: 50%;
    }
    &.medium-seven.reset {
      width: 58.3%;
    }
    &.medium-eight.reset, &.medium-foursixths.reset, &.medium-twothirds.reset {
      width: 66.6%;
    }
    &.medium-nine.reset, &.medium-threefourths.reset {
      width: 75%;
    }
    &.medium-ten.reset, &.medium-fivesixths.reset {
      width: 83.35%;
    }
    &.medium-eleven.reset {
      width: 91.7%;
    }
    &.reset {
      &.medium-push-one {
        margin-left: 8.3%;
      }
      &.right.medium-push-one {
        margin-right: 8.3%;
      }
      &.medium-push-two, &.medium-push-sixth {
        margin-left: 16.65%;
      }
      &.right {
        &.medium-push-two, &.medium-push-sixth {
          margin-right: 16.65%;
        }
      }
      &.medium-push-three, &.medium-push-fourth {
        margin-left: 25%;
      }
      &.right {
        &.medium-push-three, &.medium-push-fourth {
          margin-right: 25%;
        }
      }
      &.medium-push-four, &.medium-push-twosixths, &.medium-push-third {
        margin-left: 33.3%;
      }
      &.right {
        &.medium-push-four, &.medium-push-twosixths, &.medium-push-third {
          margin-right: 33.3%;
        }
      }
      &.medium-push-five {
        margin-left: 41.65%;
      }
      &.right.medium-push-five {
        margin-right: 41.65%;
      }
      &.medium-push-six, &.medium-push-half, &.medium-push-threesixths, &.medium-push-twofourths {
        margin-left: 50%;
      }
      &.right.medium-push-six {
        margin-right: 50%;
      }
    }
    &.right.reset {
      &.medium-push-half, &.medium-push-threesixths, &.medium-push-twofourths {
        margin-right: 50%;
      }
    }
    &.reset {
      &.medium-push-seven {
        margin-left: 58.3%;
      }
      &.right.medium-push-seven {
        margin-right: 58.3%;
      }
      &.medium-push-eight, &.medium-push-foursixths, &.medium-push-twothirds {
        margin-left: 66.6%;
      }
      &.right {
        &.medium-push-eight, &.medium-push-foursixths, &.medium-push-twothirds {
          margin-right: 66.6%;
        }
      }
      &.medium-push-nine, &.medium-push-threefourths {
        margin-left: 75%;
      }
      &.right {
        &.medium-push-nine, &.medium-push-threefourths {
          margin-right: 75%;
        }
      }
      &.medium-push-ten, &.medium-push-fivesixths {
        margin-left: 83.35%;
      }
      &.right {
        &.medium-push-ten, &.medium-push-fivesixths {
          margin-right: 83.35%;
        }
      }
      &.medium-push-eleven {
        margin-left: 91.7%;
      }
      &.right.medium-push-eleven {
        margin-right: 91.7%;
      }
    }
    &.medium-last {
      margin-right: 0;
      &.medium-one, &.medium-two, &.medium-sixth, &.medium-three, &.medium-fourth, &.medium-four, &.medium-twosixths, &.medium-third, &.medium-five, &.medium-six, &.medium-half, &.medium-threesixths, &.medium-twofourths, &.medium-seven, &.medium-eight, &.medium-foursixths, &.medium-twothirds, &.medium-nine, &.medium-threefourths, &.medium-ten, &.medium-fivesixths, &.medium-eleven, &.medium-twelve, &.medium-full {
        margin-right: 0;
      }
    }
    &.last.medium-last {
      &.medium-one, &.medium-two, &.medium-sixth, &.medium-three, &.medium-fourth, &.medium-four, &.medium-twosixths, &.medium-third, &.medium-five, &.medium-six, &.medium-half, &.medium-threesixths, &.medium-twofourths, &.medium-seven, &.medium-eight, &.medium-foursixths, &.medium-twothirds, &.medium-nine, &.medium-threefourths, &.medium-ten, &.medium-fivesixths, &.medium-eleven, &.medium-twelve, &.medium-full {
        margin-right: 0;
      }
    }
    &.right {
      &.medium-last {
        margin-left: 0;
        &.medium-one, &.medium-two, &.medium-sixth, &.medium-three, &.medium-fourth, &.medium-four, &.medium-twosixths, &.medium-third, &.medium-five, &.medium-six, &.medium-half, &.medium-threesixths, &.medium-twofourths, &.medium-seven, &.medium-eight, &.medium-foursixths, &.medium-twothirds, &.medium-nine, &.medium-threefourths, &.medium-ten, &.medium-fivesixths, &.medium-eleven, &.medium-twelve, &.medium-full {
          margin-left: 0;
        }
      }
      &.last.medium-last {
        &.medium-one, &.medium-two, &.medium-sixth, &.medium-three, &.medium-fourth, &.medium-four, &.medium-twosixths, &.medium-third, &.medium-five, &.medium-six, &.medium-half, &.medium-threesixths, &.medium-twofourths, &.medium-seven, &.medium-eight, &.medium-foursixths, &.medium-twothirds, &.medium-nine, &.medium-threefourths, &.medium-ten, &.medium-fivesixths, &.medium-eleven, &.medium-twelve, &.medium-full {
          margin-left: 0;
        }
      }
    }
    &.medium-break {
      width: auto !important;
      float: none !important;
      clear: both !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }
}